body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100%;
}

.profile-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ddd; 
    margin-bottom: 10px;
}

.image-upload-feedback {
    color: #28a745; 
    font-size: 0.9em;
}

.form-container {
    width: 380px; 
    margin: 0 auto; 
    padding: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.inputgroup {
    margin: 20px 0;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid red;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(red, rgb(250, 105, 61));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.home-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; 
}

.home-btn {
    padding: 10px 20px;
    background: linear-gradient(red, rgb(250, 105, 61)); 
    color: white;
    border: none;
    border-radius: 30px; 
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}

.home-btn:hover {
    background: linear-gradient(rgb(255, 100, 100), rgb(255, 0, 0)); 
}