@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
}

.background{
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(5px)
}

.container{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-image{
    width: 120px; 
    height: 120px; 
    margin-top: 2%; 
    z-index: 5; 
}

.container img{
    position: relative;
    height: 120px;
    width: 120px;
    left: 190px;
    top: -10px;
    z-index: 6;
    background-color: white;
    border-top-right-radius:50%;
    border-top-left-radius:50%
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 600px;
    background: white;
    padding: 5px;
    margin-top: 70px; 
}

.buttonbox{
    top: 55px;
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 25px 0.2px red;
    border-radius: 30px;
}

.toggle{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient( red, rgb(250, 105, 61)) ;
    border-radius: 30px;
    transition: .5s;
}

.inputgroup{
    top: 190px;
    position:absolute;
    width:280px;
    transition: .5s ;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid red;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px ;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient( red, rgb(250, 105, 61));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox{
    margin: 30px 10px 30px 0;
}

.inputgroup span{
    color: red;
    font-size: 13px;
    bottom: 68px;
    position:absolute;
}

#register{
    left: 50px;
}

#login{
    left: 450px
}

.error-message{
    color: red;
    display: none;
    text-align: center;
    margin-top: 10px;
}

.home-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; 
}

.home-btn {
    padding: 10px 20px;
    background: linear-gradient(red, rgb(250, 105, 61)); 
    color: white;
    border: none;
    border-radius: 30px; 
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
}

.home-btn:hover {
    background: linear-gradient(rgb(255, 100, 100), rgb(255, 0, 0)); 
}