
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 50vh;

}


.background{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav{
    width: 100%;
    position: absolute;
    top: 35px;
    transform: translateY(-100%);
    display: flex;
    padding-top: 4px;
    padding-bottom: 6px;
}

.nav nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.11s ease-in-out 0.08s;
}
.nav:hover{
    background-color: rgb(3, 3, 3);
}

.navlist{
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-left: 30%;
    padding: 0px;

}

.nav ul{
    margin-top:2px;
    margin-bottom: 2px;

}


.navlist li{
    list-style: none;
    margin-left: 10%;

}

.navlist li a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}

.navlist li a:hover{
    color: red;
}


.signinn{
    margin-left: 2%;
    margin-right: 10%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.signinn:hover{
    color: red;
}

.hero{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 300px;
    

}

.hero h2{
    align-self: center;
    margin: 0px;
    color: white;
    font-size: 2.3em ;
}

.hero p{
    margin-top: 0px;
    align-self: center;
    display: inline-block;
    color: white;
    font-size: 1.6em ;
}

.logo-container{
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    border-bottom: white solid 4px;

}

.logo-container h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;


}

.logo-container img{
    height: 80px;
    width: 80px;
}
.hero a{
    align-self: center;
    background: linear-gradient( red, rgb(250, 105, 61)) ;
    height: 2.7rem;
    width: 300px;
    padding-top: 10px;
    border: 0;
    box-shadow: none;
    border-radius: 36px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

.footer{
    position: absolute;
    opacity: 89%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 2px;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;

}

.footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;


}

.footer-container p {
    margin: 0;
    font-size: 1.3rem;
}

.footer-container span{
    margin-left: 110px;
}

.footer-container .Copyright{
    font-size: 0.8rem;
    margin-left: 60px;
}

.footer-container .Copyrigh em{
    margin-bottom: 4px;
    color: red;
}

.profile-icon {
    height: 40px;
    width: 40px;  
    cursor: pointer;
    display: block; 
    position: relative;
    z-index: 1000; 
    margin-right: 20px; 
}

.logout {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    display: none;
}

