@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}
.background{

    justify-items: center;
    height: 600px;
    max-height: 900px;
    width: 100vw;
    background-size: cover;

}
.nav{
    width: 100vw;;
    position: absolute;
    top: 35px;
    transform: translateY(-100%);
    display: flex;
    padding-top: 4px;
    padding-bottom: 6px;
}

.nav nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.11s ease-in-out 0.08s;
}
.nav:hover{
    background-color: rgb(3, 3, 3);
}

.navlist{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-left: 10%;
    padding: 0px;

}

.nav ul{
    margin-top:15px;
    margin-bottom: 2px;

}


.navlist li{
    list-style: none;
    margin-left: 10%;

}

.navlist li a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}

.navlist li a:hover{
    color: red;
}


.signinn{
    overflow: hidden;
    margin-left: 1%;
    margin-top: 12px;
    width: 120px;
    height: 15px;
    margin-right: 6%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.signinn:hover{
    color: red;
}

.hero-content{
    overflow: hidden;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem ;
    margin-left: 30px;
    height: 500px;
}

.hero-content h1{
    width: 500px;
    text-align: center;
    color: white;
    font-size: 3rem;
    justify-self: center;
    align-self: center;
} 

.hero-content p{
    margin-top: 8px;
    overflow: hidden;
    width: 500px;
    display: inline;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
}

.hero-content a{
    align-self: center;
    margin-top: 40px;
    background: linear-gradient( red, rgb(250, 105, 61)) ;
    height: 2.7rem;
    width: 300px;
    padding-top: 7px;
    border: 0;
    box-shadow: none;
    border-radius: 36px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;

}

.Container-NewReviews{
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle, rgba(0,0,0,1) 44%, rgba(15,15,15,1) 97%, rgba(14,14,14,0.9607492655265231) 100%); 
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.Container-NewReviews h1{
    margin-left: 30px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 2.3rem;
    color: white;
    
}

.Container-Images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Container-poster
{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 350px;
    width: 230px;
    
}
.Container-poster h3{
    background-color: red;
    text-align: center;
    font-size: 1vw;;
    color: white;
}

.Container-poster img{
    height: 300px;
    width: 230px;
}

.Container-Star{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Container-Star img{
    width: 20px;
    height: 20px;

}

.Reviewers{
    height: auto;
    display: flex;
    flex-direction: column;


}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 45px;
}


.profile-card{
    height: 330px;
    width: 230px;
    background-color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;

}
.Cover-image{
    display: block;
} 

.profilepic {
    position: relative;
    margin: -120px;
    border-radius: 50%;
    object-fit: cover;
    width: 170px;
    height: 170px;
}

.name{
    position: relative;
    top: 130px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.4rem;

}

.card-content{
    margin: -20px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 170px;
}

.card-content span{
    font-size: 0.8rem;
}
